# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

node_modules
dist
dist-ssr
release
*.local
*.tgz
*.vsix
/npm
/tsc
/openchamber@*
local-dev*
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.opencode/plans/*
